<section>
    <h1 class="text-center">
        This is a simplified version of the
        <a href="http://www.hungryharvest.net/#how-it-works">Hungry Harvest</a>
        website.
    </h1><br/>
    <p class="text-center">
        This website is not affiliated with the real Hungry Harvest company. I wanted to create an ecommerce "clone" to showcase my skills in AngularJS, NodeJS, PostgreSQL, and MassiveJS.</p><br/>
    <p class="text-center">
        The website features Angular ui-router, a simple CRUD DB made with PostgreSQL, and Bootstrap. Users can log in via facebook or local auth, choose product packages, and checkout.
    </p>
</section>