<header>
    <div class="container">
        <div class="intro-text">
            <div class="intro-heading">Recovered produce. Delivered!</div>
            <div class="intro-lead-in">20% of produce goes to waste. We won't stand for that. Recovered farm-fresh fruits and veggies, delivered to your home or office.</div>
            <!-- TODO add scroll arrows -->
            <!-- <div>Scroll to Learn More</div> -->
        </div>
    </div>
</header>

<!-- Services Section -->
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">What is Recovered Produce?</h2>
                <h3 class="section-subheading text-muted">20% of fruits and veggies go to waste because of silly aesthetic imperfections (they don't meet the color, shape or size standards of stores) or logistical inefficiencies (a farmer had too good of a harvest
                    and needs to find a belly for their beloved produce). We believe that no produce should be thrown away, which is why we carefully source, hand-package, and deliver these farm-fresh and delicious items to your doorstep at a discounted rate!</h3>
            </div>
        </div>

            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">How it Works</h2>
                    <div class="embed-responsive embed-responsive-4by3">
                        <iframe class="embed-responsive-item" src="//www.youtube.com/embed/oYWo2XazY4E"></iframe>
                    </div>
                </div>
            </div>

            <div class="row text-center action-steps">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-basket fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Choose</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-truck fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Recieve</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-cutlery fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Eat</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
            </div>
            <div class="row text-center action-button">
                <a ui-sref="products" class="btn btn-xl">Get Started</a>
            </div>
        </div>



    </section>
