<section>
    <div class="container wrapper">
        <div class="row cart-head">
            <div class="container">
                <div class="row">
                    <h1 class="text-center">Order Details and Checkout</h1>
                </div>
                <div class="row">
                    <p></p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        Review Order
                        <div class="pull-right">
                            <small>
                                <a class="afix-1" ui-sref="userCart">
                                    <i class="fa fa-pencil-square" aria-hidden="true"></i>
                                    Edit Cart</a>
                            </small>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="form-group" ng-repeat="cartitem in cart track by $index">
                            <div class="col-sm-3 col-xs-3">
                                <img class="img-responsive" ng-src="{{ cartitem.product_image }}"/>
                            </div>
                            <div class="col-sm-6 col-xs-6">
                                <div class="col-xs-12">{{ cartitem.product_name }}</div>
                                <div class="col-xs-12">
                                    <small>Quantity:<span>
                                            1</span>
                                    </small>
                                </div>
                            </div>
                            <div class="col-sm-3 col-xs-3 text-right">
                                <h6>{{ cartitem.product_price | currency }}</h6>
                            </div>
                        </div>
                        <div class="form-group"><hr/></div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <strong>Subtotal</strong>
                                <div class="pull-right">
                                    <span>{{ subtotal() | currency }}</span>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <small>Tax</small>
                                <div class="pull-right">
                                    <span>{{ tax() | currency }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group"><hr/></div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <strong>Order Total</strong>
                                <div class="pull-right">
                                    <span>{{ grandtotal() | currency }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row cart-body">
            <form class="form-horizontal" name="checkout" ng-submit="addOrder()">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-md-push-6 col-sm-push-6">
                    <div class="panel panel-info">
                        <div class="panel-heading">Shipping Information</div>
                        <div class="panel-body">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <h4>Shipping Address</h4>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-6 col-xs-12">
                                    <strong>First Name:</strong>
                                    <input type="text" ng-model="customerDetails.first_name" name="first_name" class="form-control" value="" required/>
                                </div>
                                <div class="span1"></div>
                                <div class="col-md-6 col-xs-12">
                                    <strong>Last Name:</strong>
                                    <input type="text" ng-model="customerDetails.last_name" name="last_name" class="form-control" value="" required/>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <strong>Address 1:</strong>
                                </div>
                                <div class="col-md-12">
                                    <input type="text" ng-model="customerDetails.mailing_street1" name="mailing_street1" class="form-control" value="" required/>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <strong>Address 2:</strong>
                                </div>
                                <div class="col-md-12">
                                    <input type="text" ng-model="customerDetails.mailing_street2" name="mailing_street2" class="form-control" value="" required/>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <strong>City:</strong>
                                </div>
                                <div class="col-md-12">
                                    <input type="text" ng-model="customerDetails.mailing_city" name="mailing_city" class="form-control" value="" required/>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <strong>State:</strong>
                                </div>
                                <div class="col-md-12">
                                    <input type="text" ng-model="customerDetails.mailing_state" name="mailing_state" class="form-control" value="" required/>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <strong>Zip / Postal Code:</strong>
                                </div>
                                <div class="col-md-12">
                                    <input type="text" ng-model="customerDetails.mailing_zip" name="mailing_zip" class="form-control" value="" required/>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <strong>Phone Number:</strong>
                                </div>
                                <div class="col-md-12"><input type="tel" name="phone_number" class="form-control" value=""/></div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <strong>Email Address:</strong>
                                </div>
                                <div class="col-md-12"><input type="email" ng-model="customerDetails.email" name="email" class="form-control" value="" required/></div>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-success btn-block" type="submit" ng-disabled="disabled">CHECKOUT</button>

                </div>

                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-md-pull-6 col-sm-pull-6">
                    <div class="panel panel-info">
                        <div class="panel-heading">Billing Information</div>
                        <div class="panel-body">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <h4>Billing Address</h4>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <strong>Address 1:</strong>
                                </div>
                                <div class="col-md-12">
                                    <input type="text" ng-model="customerDetails.billing_street1" name="billing_street1" class="form-control" value="" required/>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <strong>Address 2:</strong>
                                </div>
                                <div class="col-md-12">
                                    <input type="text" ng-model="customerDetails.billing_street2" name="billing_street2" class="form-control" value="" required/>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <strong>City:</strong>
                                </div>
                                <div class="col-md-12">
                                    <input type="text" ng-model="customerDetails.billing_city" name="billing_city" class="form-control" value="" required/>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <strong>State:</strong>
                                </div>
                                <div class="col-md-12">
                                    <input type="text" ng-model="customerDetails.billing_state" name="billing_state" class="form-control" value="" required/>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <strong>Zip / Postal Code:</strong>
                                </div>
                                <div class="col-md-12">
                                    <input type="text" ng-model="customerDetails.billing_zip" name="billing_zip" class="form-control" value="" required/>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- CREDIT CARD FORM -->
                    <!-- <div class="panel panel-info">
                        <div class="panel-heading">Payment Information</div>
                        <div class="panel-body">
                          <div class="form-group">
                            <label class="col-sm-3 control-label" for="card-holder-name">Name on Card</label>
                            <div class="col-sm-9">
                              <input type="text" class="form-control" name="card-holder-name" id="card-holder-name" placeholder="Card Holder's Name">
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="col-sm-3 control-label" for="card-number">Card Number</label>
                            <div class="col-sm-9">
                              <input type="text" class="form-control" name="card-number" id="card-number" placeholder="Debit/Credit Card Number">
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="col-sm-3 control-label" for="expiry-month">Expiration Date</label>
                            <div class="col-sm-9">
                              <div class="row">
                                <div class="col-xs-3">
                                  <select class="form-control col-sm-2" name="expiry-month" id="expiry-month">
                                    <option>Month</option>
                                    <option value="01">Jan (01)</option>
                                    <option value="02">Feb (02)</option>
                                    <option value="03">Mar (03)</option>
                                    <option value="04">Apr (04)</option>
                                    <option value="05">May (05)</option>
                                    <option value="06">June (06)</option>
                                    <option value="07">July (07)</option>
                                    <option value="08">Aug (08)</option>
                                    <option value="09">Sep (09)</option>
                                    <option value="10">Oct (10)</option>
                                    <option value="11">Nov (11)</option>
                                    <option value="12">Dec (12)</option>
                                  </select>
                                </div>
                                <div class="col-xs-3">
                                  <select class="form-control" name="expiry-year">
                                    <option value="17">2017</option>
                                    <option value="18">2018</option>
                                    <option value="19">2019</option>
                                    <option value="20">2020</option>
                                    <option value="21">2021</option>
                                    <option value="22">2022</option>
                                    <option value="23">2023</option>
                                  </select>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="col-sm-3 control-label" for="cvv">Card CVV</label>
                            <div class="col-sm-3">
                              <input type="text" class="form-control" name="cvv" id="cvv" placeholder="Security Code">
                            </div>
                          </div>
                      </div>
                  </div> -->
                </div>

            </div>
        </form>
    </div>
</div>

</section>