<section>
<div class="container">
    <div class="row">
        <h1 class="text-center" ng-if="cartQty() === 0">Oh no! There is nothing in your cart!</h1>
        <h2 class="text-center" ng-if="cartQty() === 0">Go check out some <a ui-sref="products">packages!</a></h2><br />
        <div class="col-sm-12 col-md-10 col-md-offset-1">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th class="text-center">Price</th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="cartitem in cart track by $index">
                        <td class="col-sm-8 col-md-6">
                        <div class="media">
                            <a class="thumbnail pull-left" href="#"> <img class="media-object" ng-src="{{ cartitem.product_image }}" style="width: 72px; height: 72px;"> </a>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="#">{{ cartitem.product_name }}</a></h4>
                                <p>{{ cartitem.product_desc }}</p>
                            </div>
                        </div></td>
                        <td class="col-sm-1 col-md-1" style="text-align: center">
                        <input type="number" min="0" ng-model="cartitem.productQty" ng-change="updateQty()">
                        </td>
                        <td class="col-sm-1 col-md-1 text-center"><strong>{{ cartitem.product_price | currency }}</strong></td>
                        <td class="col-sm-1 col-md-1">
                        <button type="button" class="btn btn-danger" ng-click="removeItem($index)">
                            <span class="glyphicon glyphicon-remove"></span> Remove
                        </button></td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td><h5>Subtotal</h5></td>
                        <td class="text-right"><h5><strong>{{ subtotal() | currency }}</strong></h5></td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td><h5>Tax</h5></td>
                        <td class="text-right"><h5><strong>{{ tax() | currency }}</strong></h5></td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td><h3>Total</h3></td>
                        <td class="text-right"><h3><strong>{{ grandtotal() | currency }}</strong></h3></td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>
                        <button ui-sref="products" type="button" class="btn btn-default">
                            <span class="fa fa-shopping-basket"></span> Continue Shopping
                        </button></td>
                        <td>
                        <button ui-sref="userCheckout" type="button" class="btn btn-success">
                            Checkout <span class="fa fa-arrow-right"></span>
                        </button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</section>
