body {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    min-height: 100%;
    position: relative;
    padding-bottom: 100px;
}

.text-primary {
    color: #FED136;
}

p {
    font-size: 14px;
    line-height: 1.75;
}

p.large {
    font-size: 16px;
}

a, a:hover, a:focus, a:active, a.active {
    outline: none;
}

a {
    color: #FED136;
}

a:hover, a:focus, a:active, a.active {
    color: #FEC503;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}


/*NAVBAR*/

.navbar-custom .navbar-brand {
    color: #FED136;
    font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
    text-shadow: 1px 2px 0px #222;
    font-size: 20px;
}

.navbar-custom .navbar-brand:hover, .navbar-custom .navbar-brand:focus, .navbar-custom .navbar-brand:active, .navbar-custom .navbar-brand.active {
    color: #FEC503;
}

.navbar-custom .navbar-collapse {
    border-color: rgba(255, 255, 255, 0.02);
}

.navbar-custom .navbar-toggle {
    background-color: #FED136;
    border-color: #FED136;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    color: #222;
    font-size: 12px;
}

.navbar-custom .navbar-toggle:hover, .navbar-custom .navbar-toggle:focus {
    background-color: #FED136;
}

.navbar-custom .nav li a {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    color: #FED136;
    text-shadow: 1px 2px 0px #222;
}

.navbar-custom .nav li a:hover, .navbar-custom .nav li a:focus {
    color: #FED136;
    outline: none;
    background-color: transparent;
}

.navbar-custom .navbar-nav>.active>a {
    border-radius: 0;
    color: #FFF;
    background-color: #FED136;
}

.navbar-custom .navbar-nav>.active>a:hover, .navbar-custom .navbar-nav>.active>a:focus {
    background-color: #FEC503;
    text-decoration: none;
}

.navbar-custom {
    background-color: #222;
    border: none;
    padding: 15px;
}

.navbar-custom .navbar-brand {
    font-size: 2em;
}

.navbar-custom .navbar-nav>.active>a {
    border-radius: 3px;
}

.badge {
    background-color: #FED136;
    color: #222;
    text-shadow: none;
    position: fixed;
}


/*HOME VIEW*/

header {
    background-image: url('../img/produce-header3.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    text-align: center;
    color: #FFF;
    height: 100vh;
}

header .intro-text {
    padding-top: 100px;
    padding-bottom: 50px;
}

header .intro-text .intro-lead-in {
    /*font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    font-style: italic;
    font-size: 22px;
    line-height: 22px;
    margin-bottom: 25px;
    text-shadow: 1px 2px 0px #222;
}

header .intro-text .intro-heading {
    /*font-family: 'Overlock SC', cursive; Helvetica, Arial, sans-serif;*/
    text-transform: uppercase;
    font-weight: 700;
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 25px;
    text-shadow: 1px 2px 0px #222;
}

@media (min-width: 768px) {
    header .intro-text {
        padding-top: 350px;
        padding-bottom: 200px;
    }
    header .intro-text .intro-lead-in {
        /*font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
        font-style: italic;
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 25px;
    }
    header .intro-text .intro-heading {
        font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 60px;
        line-height: 75px;
        margin-bottom: 50px;
        text-shadow: 1px 2px 0px #222;
    }
}

section {
    padding-top: 100px;
}

section h2.section-heading {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 50px;
}

section h3.section-subheading {
    text-transform: none;
    font-weight: 400;
    margin-bottom: 75px;
}

@media (min-width: 768px) {
    section {
        padding: 150px 0;
    }
}

.service-heading {
    margin: 15px 0;
    text-transform: none;
}

.action-steps {
    margin-top: 150px;
}

.btn-home {
    color: #FED136;
    background-color: #FFF;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
    margin-top: 100px;
}

.btn-home:hover, .btn-home:focus, .btn-home:active, .btn-home.active {
    color: #222;
    background-color: #FEC503;
}


/*PRODUCTS*/

.product-item {
    padding: 15px;
    background: #FFF;
    margin-top: 20px;
    position: relative;
}

.product-item:hover {
    box-shadow: 5px 5px rgba(234, 234, 234, 0.9);
}

.product-item:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    font-size: 0;
    line-height: 0;
}

.pi-img-wrapper {
    position: relative;
}

.pi-img-wrapper div {
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    width: 100%;
    height: 100%;
    text-align: center;
}

.product-item:hover>.pi-img-wrapper>div {
    display: block;
}

.pi-img-wrapper div .btn {
    padding: 3px 10px;
    color: #FFF;
    border: 1px #FFF solid;
    margin: -13px 5px 0;
    background: transparent;
    text-transform: uppercase;
    position: relative;
    top: 50%;
    line-height: 1.4;
    font-size: 12px;
}

.product-item .btn:hover {
    background: #FED136;
    border-color: #C8C8C8;
}

.product-item h3 {
    font-size: 14px;
    font-weight: 300;
    padding-bottom: 4px;
    text-transform: uppercase;
}

.pi-price {
    color: #FED136;
    font-size: 18px;
    float: left;
    padding-top: 1px;
}

.product-item .add2cart {
    float: right;
    color: #FED136;
    padding: 3px 6px;
    text-transform: uppercase;
}

.product-item .add2cart:hover {
    color: #222;
    background: #FED136;
    border-color: #FED136;
}

.go2-cartBtn {
    margin-top: 50px;
    color: #FED136;
    background: #FFF;
    font-weight: 700;
    outline: none;
    float: right;
    text-transform: uppercase;
    font-size: 20px;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-top: 45px;
}

.go2-cartBtn:hover {
    color: #222;
    background: #FED136;
    outline: none;
}

.go2-cartBtn:active {
    background: #FED136;
    outline: none;
}

.go2-homeBtn {
    margin-top: 50px;
    color: #FED136;
    background: #FFF;
    font-weight: 700;
    outline: none;
    float: left;
    text-transform: uppercase;
    font-size: 20px;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-top: 45px;
}

.go2-homeBtn:hover {
    color: #222;
    background: #FED136;
    outline: none;
}

.go2-homeBtn:active {
    background: #FED136;
    outline: none;
}


/*PRODUCT DETAILS*/

.panel.panel--styled {
    background: #F4F2F3;
}

.panelTop {
    padding: 30px;
}

.panelBottom {
    border-top: 1px solid #E7E7E7;
    padding-top: 20px;
}

.btn-add-to-cart {
    background: #FED136;
    color: #FFF;
}

.btn.btn-add-to-cart.focus, .btn.btn-add-to-cart:focus, .btn.btn-add-to-cart:hover {
    color: #FFF;
    background: #FED136;
    outline: none;
}

.btn-add-to-cart:active {
    background: #FED136;
    outline: none;
}

.itemPrice {
    font-size: 24px;
    color: #FED136;
}


/*CART VIEW*/

#userCart {
    padding-top: 100px;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.back2-productsBtn {
    color: #FED136;
    background: #FFF;
    font-weight: 700;
    outline: none;
    float: left;
    font-size: 20px;
    text-transform: uppercase;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-top: 45px;
}

.back2-productsBtn:hover {
    color: #222;
    background: #FED136;
    outline: none;
}

.back2-productsBtn:active {
    background: #FED136;
    outline: none;
}

.go2-checkoutBtn {
    color: #FED136;
    background: #FFF;
    font-weight: 700;
    float: right;
    font-size: 20px;
    text-transform: uppercase;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-top: 45px;
}

.go2-checkoutBtn:hover {
    color: #222;
    background: #FED136;
}

.go2-checkoutBtn:active {
    background: #FED136;
}

/*CHECKOUT*/

.panel-info>.panel-heading {
    background-color: #222;
    color: #FED136;
}

.checkout-btn {
    color: #FED136;
    background: #FFF;
    font-weight: 700;
    float: right;
    font-size: 20px;
    text-transform: uppercase;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-top: 45px;
}

.checkout-btn:hover {
    color: #222;
    background: #FED136;
}

.checkout-btn:active {
    background: #FED136;
}


/*FOOTER*/

footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 70px;
    text-align: center;
}

footer span.copyright {
    line-height: 40px;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    text-transform: none;
    color: #565656;
}

footer ul.quicklinks {
    margin-bottom: 0;
    line-height: 40px;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    text-transform: none;
    color: #565656;
}

.footer-link:hover {
    color: #565656;
    text-decoration: none;
}

ul.social-buttons {
    margin-bottom: 0;
}

ul.social-buttons li a {
    display: block;
    background-color: #222;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 40px;
    color: #FFF;
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

ul.social-buttons li a:hover, ul.social-buttons li a:focus, ul.social-buttons li a:active {
    background-color: #FED136;
}
